.group-label {
    cursor: pointer;
}

.group-label:hover {
    color: #5a88d1;
}

.group-label.selected {
    color: blue;
}


.term-modal > .row {
    margin-bottom: 20px;
}

.center-card {    
    height: 100px;
    background-color: red;
    
    position: absolute;
    top:0;
    bottom: 0;        
    
    margin: auto;
}

.set-form > .row {
    margin-bottom: 20px;
}
